$nav-height-mobile: 80px;
$nav-height-tablet: 104px;
$nav-height-desktop: 136px;

$nav-padding-mobile: 40px;
$nav-padding-desktop: 60px;

$selector-items-offset: 176px;

nav {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $zindex-fixed;

    a {
      color: $gray;
      text-decoration: none;
      transition: color 0.25s $ease-in-quad;

      &:hover,
      &:active {
        color: $white;
        transition: color 0.25s $ease-out-quad;
      }
    }

    &__upper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: auto;
      background: $black;
      height: $nav-height-mobile;
      @media (min-width: $screen-md) {
        height: $nav-height-tablet;
      }
      @media (min-width: $screen-lg) {
        background: transparent;
        height: 0;
      }

      &-content {
        padding: 0 20px;
        @media (min-width: $screen-lg) {
          display: none;
          position: fixed;
          top: 61px;
          padding: 0px $nav-padding-mobile;
        }
        @media (min-width: $screen-xl) {
          padding: 0px $nav-padding-desktop;
        }
      }

      &-menu,
      &-arrows {
        &-inner {
          button {
            display: block;
            width: 40px;
            height: 40px;
            cursor: pointer;

            svg {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      &-menu {
        position: fixed;
        top: 0;
        right: 0;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $black;
        z-index: $zindex-fixed;
        width: $nav-height-mobile;
        height: $nav-height-mobile;
        @media (min-width: $screen-md) {
          width: $nav-height-tablet;
          height: $nav-height-tablet;
        }
        @media (min-width: $screen-lg) {
          width: $nav-height-desktop;
          height: $nav-height-desktop;
        }

        &-inner {
          width: 40px;
          height: 40px;

          button {
            svg {
              width: 24px;
              height: 24px;
              margin: 0 auto;
            }
          }
        }
      }

      &-arrows {
        display: none;
        @media (min-width: $screen-lg) {
          position: fixed;
          top: 0;
          left: 0;
          width: $nav-height-desktop;
          height: $nav-height-desktop;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &-inner {
          width: 70px;
          height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            width: 30px;

            &.arrow-next {
              transform: scaleX(-1);
            }

            svg {
              width: 10px;
              height: 14px;
              margin: 0 auto;
            }
          }
        }
      }
    }

    &__content {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $black;
      overflow: hidden;
      z-index: $zindex-sticky;

      &-inner {
        padding-left: $nav-padding-mobile;
        @media (min-width: $screen-lg) {
          padding-left: $nav-padding-desktop;
        }

        &-logo {
          display: inline-block;
          position: relative;
          z-index: 4;
          margin-top: $nav-height-mobile / 2 - 7px;
          @media (min-width: $screen-md) {
            margin-top: $nav-height-tablet / 2 - 7px;
          }
          @media (min-width: $screen-lg) {
            margin-top: $nav-height-desktop / 2 - 7px;
          }
        }

        &-socials {
          position: fixed;
          z-index: 4;
          bottom: $nav-padding-mobile;
          right: $nav-padding-mobile;
          @media (min-width: $screen-lg) {
            bottom: $nav-padding-desktop;
            right: $nav-padding-desktop;
          }

          &-link {
            display: block;
            margin: 0 0 16px;
            @media (min-width: $screen-lg) {
              margin: 0 0 24px;
            }

            &:last-of-type {
              margin: 0;
            }
          }
        }
      }
    }

    &__selector {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      padding-left: $nav-padding-mobile;
      padding-top: $nav-height-mobile;
      @media (min-width: $screen-md) {
        padding-right: $nav-padding-mobile;
        padding-top: $nav-height-tablet;
      }
      @media (min-width: $screen-lg) {
        padding-top: $nav-height-desktop;
        padding-right: $nav-padding-desktop;
        padding-left: $nav-padding-desktop;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba($gray, 0);
      }

      &-inner {
        position: relative;
        overflow-x: hidden;
        display: block;

        &-bgs {
          position: fixed;
          top: $nav-height-mobile;
          left: $nav-padding-mobile * 2;
          width: calc(100% - #{$nav-padding-mobile * 2});
          height: 336px;
          background: $gray;
          z-index: 2;
          max-width: 440px;
          @media (min-width: $screen-sm) {
            left: 50%;
            transform: translateX(-50%);
          }
          @media (min-width: $screen-md) {
            top: $nav-height-tablet;
            left: calc(50% + #{$selector-items-offset / 2});
            max-width: 600px - $selector-items-offset;
            height: 512px;
          }
          @media (min-width: $screen-lg) {
            top: $nav-height-desktop;
            max-width: 720px - $selector-items-offset;
            height: calc(100vh - 260px);
            max-height: 760px;
          }
          @media (min-width: $screen-xl) {
            max-width: 800px - $selector-items-offset;
          }
          @media (min-width: $screen-xxl) and (min-height: 900px) {
            max-width: 960px - $selector-items-offset;
          }

          #canvas {
            position: absolute;
            width: 100%;
            height: 100%;

            // &:after {
            //   content: '';
            //   position: absolute;
            //   top: 0;
            //   left: 0;
            //   width: 100%;
            //   height: 100%;
            //   background: rgba(0, 0, 0, 0.3);
            // }
          }

          img {
            display: none;
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
          }
        }

        &-items {
          position: relative;
          max-width: 600px;
          margin-right: auto;
          margin-left: auto;
          z-index: 3;
          padding: 32px $nav-padding-mobile 32px 0;
          @media (min-width: $screen-lg) {
            padding: 40px $nav-padding-desktop 40px 0;
            max-width: 720px;
          }
          @media (min-width: $screen-xl) {
            max-width: 800px;
          }
          @media (min-width: $screen-xxl) and (min-height: 900px) {
            max-width: 960px;
          }

          &-item {
            cursor: pointer;
            color: rgba(255, 255, 255, 0.25);
            transition: color 0.8s $ease-in-quad;
            @media (min-width: 375px) and (max-width: $screen-md - 1) {
              font-size: 3.2rem;
            }
            @media (min-width: $screen-md) {
              margin: 0 0 24px;
            }

            &.active {
              color: rgba(255, 255, 255, 1);
              transition: color 0.8s $ease-out-quad;
            }
          }
        }
      }
    }
  }
}
